#c747b2ff-a6d7-4d66-e1f8-75b18ae39156.xepan-component.xepan-sortable-component.xepan-cms-container.ui-sortable(xepan-component='xepan/cms/Tool_Container', emptytext='Container', style='margin: 0px auto;')
  #dbd01782-add3-4bac-b942-af692d6e85ed.xepan-component.xepan-serverside-component(xepan-component-name='Carousel', xepan-component='xepan/cms/Tool_Carousel', style='', text-color='', show_text='true', carousel_category='1', scrollamount='')
  #4fb662ed-a479-46f4-d372-818dd5877149.xepan-component.xepan-editable-text.mce-content-body.text-center(xepan-component='xepan/cms/Tool_Text', emptytext='Edit this text', style='position: relative; margin-top: 73px; width: 95%; margin-right: auto; margin-left: auto;', data-extra-classes='text-center', scrollamount='', contenteditable='false')
    h1 ALL SAMAJ
  #a84661b5-9590-44e7-e983-8f7a45d3df8a.row.xepan-component(xepan-component='xepan/cms/Tool_Columns', style='min-height: 20px; width: 95%; margin-right: auto; margin-left: auto; margin-top: 35px;', scrollamount='')
    #0559ddad-ec91-49fd-84a9-51369e59577b.xepan-cms-column.xepan-sortable-component.xepan-component.ui-sortable.epan-sortable-extra-padding.col-lg-7.col-md-7.col-sm-12.col-xs-12(xepan-component='xepan/cms/Tool_Column', emptytext='Column 4', data-toolcolumnclass='xepan-tool-column', data-lg='7', data-md='7', data-sm='12', data-xs='12')
      #e790c591-2a0c-46e8-cd46-9cc3a8b57494.xepan-component.xepan-editable-text.mce-content-body.text-justify(xepan-component='xepan/cms/Tool_Text', emptytext='Edit this text', style='position: relative; margin-right: auto; margin-left: auto; display: block;', scrollamount='', data-extra-classes='text-justify', contenteditable='false')
        p
          | It was one of the most influential religious movements in India and made a significant contribution to the making of modern India. It was started at Calcutta on 20 August 1828 by Raja Ram Mohan Ray and Debendranath Tagore as reformation of the prevailing Brahanism of the time (specifically Kulin practices) and began the Bengal renaissance of the 19th century pioneering all religious, social and educational advance of the Hindu community in the 19th century. Its Trust Deed was made in 1830 formalising its inception and it was duly and publicly inaugurated in January 1830 by the consecration of the first house of prayer, now known as the Adi Brahmo Samaj.From the 
          em Brahmo Samaj
          |  springs Brahmoism, the most recent of legally recognised religions in India and Bangladesh, reflecting its foundation on reformed spiritual Hinduism with vital elements of Judeo-Islamic faith and practice.
        p
          | The Brahmo Samaj literally denotes community of men who worship Brahman the highest reality. In reality Brahmo Samaj does not discriminate between caste, creed or religion and is an assembly of all sorts and descriptions of people without distinction, meeting publicly for the sober, orderly, religious and devout adoration of "
          em
            | the (nameless) unsearchable Eternal, Immutable Being who is the Author and Preserver of the Universe
          | ."
          br
    #7e8ceb2f-da96-4857-f3dc-08312d337555.xepan-cms-column.xepan-sortable-component.xepan-component.ui-sortable.epan-sortable-extra-padding.col-lg-5.col-md-5.col-sm-12.col-xs-12(xepan-component='xepan/cms/Tool_Column', emptytext='Column 4', data-toolcolumnclass='xepan-tool-column', data-lg='5', data-md='5', data-sm='12', data-xs='12')
      #ed763cae-fdee-407e-a68c-942d5b21287c.xepan-component(xepan-component='xepan/cms/Tool_Image', style='overflow: hidden; height: 300px;', scrollamount='')
        img.ui-resizable(src='images/digita-india.jpg', style='max-width:100%; height: 100%; width:100%', data-extra-classes='', alt='Image')
  #5a596b6b-1d28-4225-8a35-9b90b77f06f9.xepan-component.xepan-editable-text.mce-content-body.text-center(xepan-component='xepan/cms/Tool_Text', emptytext='Edit this text', style='position: relative; margin-top: 38px;', data-extra-classes='text-center', scrollamount='', contenteditable='false')
    h1
      | Recentally Added Samaj List Here
      br
  #246afa81-8b29-4caa-9952-1e6b6576fce6.xepan-component.xepan-sortable-component.xepan-cms-container.ui-sortable(xepan-component='xepan/cms/Tool_Container', emptytext='Container', style='width: 100%; margin: 0px auto;', scrollamount='')
    #68384c34-9569-42d0-a2cc-22b5d80c5b64.xepan-component.xepan-serverside-component(xepan-component-name='SamajLister', xepan-component='xavoc/allsamaj/Tool_SamajLister', show_search_bar='true', no_of_record='10', no_of_column='3', scrollamount='')
  #916b3b0c-cd52-4b18-88d7-493b3a6fe457.xepan-component.xepan-editable-text.mce-content-body.text-center(xepan-component='xepan/cms/Tool_Text', emptytext='Edit this text', style='position: relative; margin-top: 38px;', data-extra-classes='text-center', scrollamount='', contenteditable='false')
    h1 Latest News And Events Place Here
