.xepan-components(id="{$_name}")
	.jquery-comments
		.commenting-field.main
			img.profile-picture.round(src='https://viima-app.s3.amazonaws.com/media/user_profiles/user-icon.png')
			.textarea-wrapper
				.textarea.atk-form-row.atk-form-field
					{$comment}
				.send.save.highlight-background
					{$FormButtons}

